# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ibas packages
*/.idea
*/src/main/webapp/3rdparty/ibas
*/src/main/webapp/3rdparty/openui5
*/src/main/webapp/modules/

# files
*_log_*.txt
*.tmp
*.class
*.js
*.glf


# work folder
/target/
/release/
/.vs/
/.vscode/
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/
/Servers/
.idea/artifacts/edi_initialfantasy_war_exploded.xml
.idea/compiler.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/Maven__org_javassist_javassist_3_18_1_GA.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_common_2_9.xml
.idea/libraries/Maven__org_glassfish_jersey_containers_jersey_container_servlet_core_2_9.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_client_2_9.xml
.idea/libraries/Maven__org_glassfish_jersey_containers_jersey_container_servlet_2_9.xml
.idea/libraries/Maven__org_glassfish_hk2_osgi_resource_locator_1_0_1.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_locator_2_3_0_b05.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_utils_2_3_0_b05.xml
.idea/libraries/Maven__org_glassfish_hk2_external_javax_inject_2_3_0_b05.xml
.idea/libraries/Maven__javax_ws_rs_javax_ws_rs_api_2_0.xml
.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_2.xml
.idea/libraries/Maven__org_glassfish_hk2_external_aopalliance_repackaged_2_3_0_b05.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_api_2_3_0_b05.xml
.idea/libraries/Maven__org_glassfish_jersey_bundles_repackaged_jersey_guava_2_9.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_server_2_9.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
edi.initialfantasy.iml
out/artifacts/edi_initialfantasy_war_exploded/META-INF/MANIFEST.MF
out/artifacts/edi_initialfantasy_war_exploded/WEB-INF/web.xml
