<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edi.stocktask.mapper.CodeBarMapper">
    <resultMap id="BaseResultMap" type="org.edi.stocktask.bo.codeBar.CodeBar">
        <result column="ProName" property="proName" jdbcType="VARCHAR" />
        <result column="ProValue" property="proValue" jdbcType="VARCHAR" />
        <result column="ProDesc" property="proDesc" jdbcType="VARCHAR" />
    </resultMap>

    <parameterMap id="codeBarParam" type="map">
        <parameter property="itemCode" jdbcType="NVARCHAR" mode="IN"/>
        <parameter property="codebar" jdbcType="NVARCHAR" mode="IN"/>
        <parameter property="baseType" jdbcType="NVARCHAR" mode="IN"/>
        <parameter property="baseEntry" jdbcType="INTEGER" mode="IN"/>
        <parameter property="baseLine" jdbcType="INTEGER" mode="IN"/>
    </parameterMap>

    <parameterMap id="strengthenCodeBarParam" type="map">
        <parameter property="itemCode" jdbcType="NVARCHAR" mode="IN"/>
        <parameter property="codebar" jdbcType="NVARCHAR" mode="IN"/>
        <parameter property="baseType" jdbcType="NVARCHAR" mode="IN"/>
        <parameter property="baseEntry" jdbcType="INTEGER" mode="IN"/>
        <parameter property="baseLine" jdbcType="INTEGER" mode="IN"/>
        <parameter property="itemCodeQuantity" jdbcType="ARRAY" javaType="java.util.List" mode="IN" typeHandler="org.edi.stocktask.util.ItemCodeQuantityHandler"/>
    </parameterMap>

    <parameterMap id="BatchCodeBarParamMap" type="map">
        <parameter property="codeBarParams" jdbcType="ARRAY" javaType="java.util.List" mode="IN" typeHandler="org.edi.stocktask.util.TableTypeHandler"/>
        <parameter property="baseType" jdbcType="VARCHAR" mode="IN"/>
        <parameter property="baseEntry" jdbcType="INTEGER" mode="IN"/>
    </parameterMap>

    <resultMap id="BatchCodeBarResultMap" type="org.edi.stocktask.dto.CodeBarParseResult">
        <result column="BaseType" property="baseType" jdbcType="VARCHAR" />
        <result column="BaseEntry" property="baseEntry" jdbcType="INTEGER" />
        <result column="BaseLine" property="baseLine" jdbcType="INTEGER" />
        <result column="ItemCode" property="itemCode" jdbcType="VARCHAR" />
        <result column="CodeBar" property="codeBar" jdbcType="VARCHAR" />
    </resultMap>




    <select id="parseCodeBar" statementType="CALLABLE" parameterMap="codeBarParam" resultMap="BaseResultMap">
        {call AVA_SP_PARSE_CODEBAR(
        #{itemCode, jdbcType = NVARCHAR, mode = IN},
        #{codebar, jdbcType = NVARCHAR, mode = IN},
        #{baseType, jdbcType = NVARCHAR, mode = IN},
        #{baseEntry, jdbcType = INTEGER, mode = IN},
        #{baseLine, jdbcType = INTEGER, mode = IN},
        #{code, jdbcType = INTEGER, mode = OUT},
        #{message, jdbcType = NVARCHAR, mode = OUT}
        )}
    </select>



   <!-- List<ICodeBar> strengthenParseCodeBar(HashMap<String,Object> codeBarParam);-->
    <select id="strengthenParseCodeBar" statementType="CALLABLE" parameterMap="strengthenCodeBarParam" resultMap="BaseResultMap">
        {call AVA_SP_PARSE_CODEBAR(
        #{itemCode, jdbcType = NVARCHAR, mode = IN},
        #{codebar, jdbcType = NVARCHAR, mode = IN},
        #{baseType, jdbcType = NVARCHAR, mode = IN},
        #{baseEntry, jdbcType = INTEGER, mode = IN},
        #{baseLine, jdbcType = INTEGER, mode = IN},
        #{itemCodeQuantity, typeHandler = org.edi.stocktask.util.ItemCodeQuantityHandler,jdbcType = ARRAY, mode = IN},
        #{code, jdbcType = INTEGER, mode = OUT},
        #{message, jdbcType = NVARCHAR, mode = OUT}
        )}
    </select>




    <!-- List<CodeBarAnalysis> parseBatchCodeBar(HashMap<String,Object> codeBarParamsList);-->
    <select id="parseBatchCodeBar" statementType="CALLABLE" parameterMap="BatchCodeBarParamMap"  resultMap="BatchCodeBarResultMap">
        {call AVA_SP_BATCH_PARSE_CODEBAR(
        #{codeBarParams,typeHandler = org.edi.stocktask.util.TableTypeHandler,jdbcType = ARRAY, mode = IN},
        #{baseType, jdbcType = NVARCHAR, mode = IN},
        #{baseEntry, jdbcType = INTEGER, mode = IN},
        #{code, jdbcType = INTEGER, mode = OUT},
        #{message, jdbcType = NVARCHAR, mode = OUT}
        )}
    </select>

</mapper>